@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Poppins&display=swap')

$main-color: #cd2653
$secondary-color: #f7f0e1
$extra-color: #c06c84

@mixin button($btn-main-color, $btn-secondary-color)

  border: 2px $btn-main-color solid
  padding: .3rem 1rem
  position: relative
  z-index: 1
  cursor: pointer

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    background: $btn-secondary-color
    transition: .5s transform ease-in-out
    transform: scaleX(0)
    transform-origin: 100% 50%

  &:hover:before
    transform: scaleX(1)


body, html
  margin: 0
  padding: 0
  font-family: 'Poppins', 'PingFang TC', 'Noto Sans TC', "微軟正黑體", sans-serif
  color: #333
  font-size: 18px

a
  text-decoration: none

h1
  font-size: 3rem

h2
  font-size: 2.6rem

h1, h2
  margin: 1rem 0 .5rem

.title-1
  font-size: 3rem
  margin-top: 0

.padding-medium
  padding: 75px 0

.padding-big
  padding: 100px 0

.text-center
  text-align: center

.margin-bottom-0
  margin-bottom: 0

img
  max-width: 100%

header
  background: #fff

  .logo
    font-size: 26px
    color: #000

    a
      color: #000

    span
      font-size: 20px
      color: #6d6d6d
      margin-left: 1rem

  nav
    @media screen and (max-width: 979px)
      position: fixed
      background: $main-color
      top: 115px
      left: 0
      width: 100%
      max-height: 0
      overflow: hidden
      z-index: 2

    &.is-active
      max-height: 500px
      transition: .33s max-height ease-in-out

    ul
      display: flex
      list-style: none
      margin: 0
      padding: 0

      @media screen and (max-width: 979px)
        flex-direction: column
        align-items: center
        margin: 35px 0

        li a
          color: #fff

      li
        margin: 0 .66rem
        font-size: 20px

        @media screen and (max-width: 979px)
          margin: .33em 0

          &.lang
            cursor: pointer
            color: #fff

        a
          position: relative

          @media screen and (min-width: 980px)

            &.is-active
              &::after
                content: ''
                width: 100%
                height: 2px
                bottom: 0
                left: 0
                position: absolute
                background: #000

        @media screen and (min-width: 980px)
          &.lang
            color: $main-color
            cursor: pointer

          &:last-child
            margin-right: 0

    a
      color: #000

  .hamburger
    display: flex
    padding: 0

    @media screen and (min-width: 980px)
      display: none

  .header-inner
    align-items: center
    display: flex
    justify-content: space-between
    padding: 2rem 0

.alert
  position: fixed
  bottom: 0
  left: 0
  background: $main-color
  width: calc(100% - 2rem)
  color: #fff
  height: 50px
  line-height: 50px
  padding: 15px 1rem
  display: flex
  transform: translateY(80px)
  transition: .5s transform ease-in-out
  z-index: 20

  &.is-active
    transform: translateY(0)

  .btn
    border: 2px #fff solid
    margin-left: auto
    padding-left: 1rem
    padding-right: 1rem
    transition: .33s all ease-in-out
    cursor: pointer

    &:hover
      background: #fff
      color: $main-color

.cztery
  display: flex
  justify-content: center
  align-items: center
  height: 100%

  div
    display: inline-block

    p
      border-right: .15em solid $main-color
      margin: 0 auto
      font-size: 100px
      animation: blink-caret .75s step-end infinite
      letter-spacing: 10px

      @media screen and (max-width: 979px)
        font-size: 42px

@keyframes blink-caret
  from,to
    border-color: transparent
  50%
    border-color: $main-color

section

  &.height50
    height: 50vh

    .section-inner
      height: 100%

  &.color
    background: $secondary-color

  &.padding-top
    padding-top: 45px

.section-inner
  width: 1500px
  max-width: 90%
  margin-left: auto
  margin-right: auto

  &.center-vertically
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.mapPopup,
.picPopup
  position: fixed
  width: 100%
  height: 100%
  display: none
  left: 0
  top: 0
  z-index: 10

  &.is-active
    display: block

.popup-close
  position: absolute
  right: 100px
  font-size: 24px
  color: #fff
  cursor: pointer
  height: 48px
  line-height: 48px
  width: 48px
  text-align: center

.picPopup
  background: #fff
  justify-content: center
  align-items: center

  &.is-active
    display: flex

  img
    align-self: center
    max-height: calc(100% - 136px)

  .popup-close
    color: #000
    font-size: 48px
    right: 20px
    top: 20px

.mapPopup
  .popup-close
    color: #000
    font-size: 48px
    top: auto
    right: 0
    bottom: 0
    position: absolute;
    font-size: 48px;
    color: #fff
    cursor: pointer
    height: 48px
    width: 48px
    line-height: 48px
    text-align: center
    font-family: sans-serif, Arial, Helvetica
    background: #bb0b0b

.swiper-container
  width: 100%
  transition:opacity .6s ease

  @media screen and (min-width: 980px) and (max-width: 1365px)
    height: 42vw

  @media screen and (min-width: 1366px)
    height: 28vw

.open-main-map
  @include button(#333, #fff)

.swiper-slide
  background-position: center
  background-size: cover

  @media screen and (min-width: 979px)
    width: 980px !important

  p.title
    font-size: 3rem
    margin: 0

  &.swiper-slide-active::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: #00000082
    z-index: 0

  @media screen and (min-width: 980px)
    img
      display: none

  @media screen and (max-width: 979px)
    img
      opacity: 0
      margin: 3rem 0

  .content
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    width: 50%
    padding-left: 5%
    color: #fff
    z-index: 1

    .actions
      display: flex
      margin-top: 1rem

      > div
        @include button(#fff, $main-color)

        &:nth-child(2)
          margin-left: 1rem

@media screen and (max-width: 979px)

  body
    font-size: 17px

  .title-1
    font-size: 2rem

  .section-fullwidth-mobile
    width: 100%
    max-width: 100%

  .news
    margin: 0 0 3rem

    .news-inner
      max-width: 90%
      margin: 0 auto

  .padding-medium
    padding: 25px 0

  .padding-big
    padding: 60px 0

  .swiper-slide
    p.title
      font-size: 2rem

    .content
      font-size: .9rem
      width: calc(90% - 80px)
      left: 40px

@media screen and (min-width: 980px)

  .row
    display: flex

    > div
      width: 50%
      padding: 0 25px 50px

    h2
      font-size: 48px

footer
  overflow: hidden
  background-color: $main-color
  color: white

  .section-inner
    @media screen and (min-width: 980px)
      display: flex
      justify-content: center
      align-items: center
      padding: 25px 0

      div:nth-child(1)
        font-size: 1.5rem

      div:nth-child(2)
        margin-left: 2rem

    @media screen and (max-width: 979px)
      text-align: center

      div:nth-child(1)
        font-size: 1.33rem

subfooter

  .section-inner
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 0

  .icon

    a
      color: #000
      display: flex
      align-items: center
      font-size: .9em

    img
      width: 40px
      margin-left: 5px